/* Nombre del archivo: scss/style.scss
Autor: Alessio Aguirre Pimentel
Versión: 367 */

// Variables
$font-color-light: black;
$background-color-light: rgb(145, 144, 144);
$font-color-dark: rgba(255, 255, 255, 0.795);
$background-color-dark: black;

$border-color-light: #ccc;
$border-color-dark: #444;

$primary-color: #77797a;
$error-color: tomato;

// Mixins
@mixin theme($font-color, $background-color, $border-color) {
    color: $font-color;
    background-color: $background-color;
    border-color: $border-color;
}

// Estilos del body para temas claro y oscuro
body.light {
    @include theme($font-color-light, $background-color-light, $border-color-light);
}

body.dark {
    @include theme($font-color-dark, $background-color-dark, $border-color-dark);
}

// Estilos del interruptor de tema
.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $border-color-light;
    transition: .4s;
}

// Agregar una clase para feriados
.feriado {
    background-color: $error-color;
    color: white;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $background-color-light;
    transition: .4s;
}

input:checked+.slider {
    background-color: $primary-color;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

// Estilos existentes

body {
    color: $font-color-dark;
    background-color: $background-color-dark;
    font-size: 16px;
    padding: 0;
    margin: 0;
    transition: background-color 0.4s, color 0.4s;

    &[data-theme="light"] {
        color: $font-color-light;
        background-color: $background-color-light;

        input[type="text"],
        input[type="tel"],
        select,
        option {
            background-color: $background-color-light;
            color: $font-color-light;
            border: 1px solid $border-color-light;
        }

        input[type="submit"] {
            background-color: $font-color-light;
            color: $background-color-light;

            &:hover {
                background-color: darken($font-color-light, 25%);
            }
        }
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;

    #header-izquierda,
    #header-centro,
    #header-derecha {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 70%;
        height: auto;
    }

    h1 {
        font-size: 1.2rem;
        text-align: center;
    }
}

.sitio-titulo {
    font-weight: bold;
    font-size: 1.5rem;
    color: $font-color-dark;
}

h1 {
    font-size: 1.18rem;
    text-align: center;
}

h2 {
    color: $font-color-dark;
    font-size: 1.15rem;
    margin-top: 1rem;
}

ul,
ol {
    margin-top: 0;
    padding-top: 0;

    li {
        padding: .2rem;
    }
}

ul {
    list-style: none;
}

.contenedor {
    width: 90%;
    padding: 0 0.75rem;
    margin: 1rem auto;
    box-sizing: border-box;
    border: 2px solid $border-color-dark;
    border-radius: 10px;
}

.contenedor-01 {
    @extend .contenedor;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1rem;
    padding-bottom: 4rem;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

/* Error para validación de formulario */
.error {
    color: $error-color;
}

.contenedor-02 {
    @extend .contenedor;
    text-align: center;
}

.borde-01 {
    border: 2px solid $border-color-dark;
    border-radius: 10px;
    padding: .5rem;
}

legend {
    border: 1px solid $border-color-dark;
    border-radius: 10px;
    padding: 5px 10px;
}

section {
    margin-top: 1rem;
}

#información-general {
    grid-column: 1 / 2;
    grid-row: 1 / 3; // Ajustar según el diseño
}

#seccion-turnos {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#seccion-salida-datos-dos {
    border: 2px solid $border-color-dark;
    border-radius: 10px;
    padding: .5rem;
    margin-top: 1rem;
}

form {
    margin-bottom: 1rem;

    input[type="text"],
    input[type="tel"],
    select,
    option {
        background-color: $background-color-dark;
        color: $font-color-dark;
        border: 1px solid $border-color-dark;
        padding: 0.15rem;
        margin-bottom: 0.5rem;

        box-sizing: border-box;

        &[id="numero-mascotas"] {
            width: 4ch;
        }

        &[id^="mascota-edad"] {
            width: 3ch;
        }
    }

    input[type="submit"] {
        background-color: $font-color-dark;
        color: $background-color-dark;
        border: none;
        padding: 0.5rem 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: darken($font-color-dark, 25%);
        }
    }

    button {
        display: inline-block;
    }
}

#botones-gardar-borrar {
    display: flex;
    justify-content: space-between;

    button {
        padding: 0.5rem 1rem;
    }
}

input#cliente-nombre,
input#cliente-telefono {
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

input#cliente-nombre {
    width: 20ch;
}

input#cliente-telefono {
    width: 15ch;
}

input[id^="mascota-nombre"] {
    max-width: 10ch;
}

select[id^="servicio"] {
    max-width: 20ch;
}


@media (max-width: 767px) {

    .contenedor-01,
    .contenedor-02,
    .contenedor {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .contenedor-01,
    .contenedor-02,
    .contenedor {
        max-width: 750px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .contenedor-01,
    .contenedor-02,
    .contenedor {
        max-width: 970px;
    }
}

@media (min-width: 1200px) and (max-width: 0px) {

    .contenedor-01,
    .contenedor-02,
    .contenedor {
        max-width: 1170px;
    }
}

@media (min-width: 1440px) {

    .contenedor-01,
    .contenedor-02,
    .contenedor {
        max-width: 1440px;
    }
}
